# Keep EOLs consistent

* text=auto

*.java          text
*.txt           text
*.md            text
*.bat           text
*.sh            text
*.pl            text
*.pm            text
*.py            text

# Windows batch files should retain CRLF
*.bat           text eol=crlf

*.class         binary
*.gif           binary
*.png           binary
*.jar           binary
