# Compiled files
*.class

# Simulation report files
*reports*/*.txt
reports/
scenarios/
tmp_configs/

# Local experiment scripts
*.bat
*.py

# Javadocs
*.html
doc/stylesheet.css
doc/resources/*.gif
doc/package-list

# Eclipse IDE files
.classpath
.project
/target/
.settings/org.eclipse.*
